a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}
body {
  margin: 0;
  padding: 0;
  font-family: Monaco, Helvetica, Geneva, "system-ui", Ariel, georgia,
    "sans-serif";
  color: rgb(41, 37, 36);
  transition: all 0.65s;
}

.logo a {
  justify-content: start;
  width: auto;
  height: 32px;
  padding-top: 5px;
  transition-duration: 0.1s;
}

.logo a > img {
  width: inherit;
  height: inherit;
  object-fit: contain;
  object-position: center center;
  cursor: pointer;
}

.mode {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: none;
  color: rgb(87, 83, 78);
  border-radius: 20px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 5px 1px;
  cursor: pointer;
}

.navbar {
  display: flex;
  flex-direction: row;
  padding: 0px 32px;
  justify-content: end;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 15px 2px;
}

.navs {
  flex: 1 1 0%;
  display: flex;
  align-items: center;
  flex-direction: row;
  column-gap: 2px;
}

.nav-tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px 10px;
  width: 100px;
  font-weight: 600;
  cursor: pointer;
  transition-duration: 0.2s;
  border-radius: 5px;
}

.nav-tabs:hover {
  background-color: rgba(97, 97, 97, 0.26);
}

.active {
  color: rgb(255, 136, 25);
}

.authbtns {
  padding-inline: 0.4rem;
}

.authbtn {
  display: flex;
  margin-left: 1rem;
  background-color: white;
  color: rgb(56, 56, 56);
  width: 100px;
  height: 35px;
  align-items: center;
  border: 1px solid lightgray;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 5px 1px;
  font-weight: bold;
  cursor: pointer;
  transition-duration: 0.1s;
}

.authbtn:hover {
  background-color: rgb(255, 136, 25);
  color: rgb(255, 255, 255);
}

.saved {
  height: 40px;
  padding: 0.8rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
  background-color: rgb(255, 136, 25);
  border: none;
  border-radius: 20px;
  font-weight: 600;
  cursor: pointer;
  color: white;
  text-shadow: rgba(0, 0, 0, 0.2) 0px 0px 5px;
  transition-duration: 0.1s;
}

.saved:hover {
  filter: brightness(90%);
}

.saved i {
  display: flex;
  justify-content: center;
  align-items: center;
}
.savedtext{
  width: max-content;
  font-size: 90%;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
  justify-content: space-evenly;
}

.has-state {
  position: relative;
  overflow: hidden;
}

.has-state::after {
  content: "";
  position: absolute;
  inset: 0;
  transition: inherit;
}

:has-state:where(:hover, :focus-visible):not(:active)::after {
  background-color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.slider {
  --gap: 8px;
  position: relative;
  overflow-x: auto;
  scroll-snap-type: inline mandatory;
  padding-block-end: 5px;
}

.slider:hover {
  cursor: pointer;
}

.slider::-webkit-scrollbar {
  height: 4px;
}

.sider::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.slider:where(:hover, :focus-within)::-webkit-scrollbar-thumb {
  background-color: rgb(241, 243, 230);
}

.slider-wrapper {
  display: flex;
  align-self: stretch;
  gap: 6px;
  transition: all 0.15s ease-in;
}

.slider-item {
  display: contents;
  scroll-snap-align: start;
}

.load-more-card {
  display: flex;
  color: rgb(245, 239, 237);
  justify-content: center;
  align-items: center;
  height: calc(100% - 54px);
  border-radius: 6px;
  gap: 8px;
  border: 1px solid rgb(232, 222, 213);
  background-color: rgb(255, 136, 25)
}

.section-tag {
  text-align: center;
  margin-inline: 0.6rem 0.4rem;
}

.section-title {
  margin-block-end: 12px;
}

.badge-btn {
  height: 40px;
  display: flex;
  border-radius: 1.5rem;
  background-color: inherit;
  color: inherit;
  max-width: max-content;
  padding-inline: 16px;
  align-items: center;

}

.badge-btn:where(:focus, :hover) {
  border-bottom: 2px solid rgb(255, 136, 25);
}

.tag {
  text-align: center;
}

.tag-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-block-start: 24px;
}

.tag .section-text {
  max-width: 50ch;
  margin-inline: auto;
}

.footer .logo {
  display: none;
}

.footer {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  border-block-start: 1px solid inherit;
}
@media (max-width: 630px) {
  .navbar {
    padding: 10px 0px;
  }

  .logo {
    justify-content: start;
    flex: 1 1 0%;
  }

  .nav-tabs {
    display: none;
  }

  .authbtns {
    justify-content: end;
    flex: 1 1 0%;
  }

  .authbtn {
    font-size: 12px;
  }

  .saved {
    display: none;
  }

  .savedtext {
    display: none;
  }
  .badge-btn{
    padding: 2px 10px;
  }
  .tag-list{
    grid-template-columns: auto auto auto;
    font-size: 85%;
  }

  .footer {
    padding: 10px 5px 5rem 5px;
    margin: 0px auto;
    flex-direction: column;
    column-gap: 0px;
  }
  .footer-description {
    width: 100%;
    font-size: 90%;
  }
}
@media (max-width:400px) {
  .tag-list{
    grid-template-columns: auto auto;
  }  
}
