.container{
    padding: 0px 10vw;
}
.category{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    cursor: pointer;
}
.categorytext{
    padding: 10px 0px;
}
.downbar{
    padding: 1px 0px; width: 100%;
    background-color: lightgray;
    transition-duration: 0.15s;
}
.activecat{
    background-color: rgb(255, 136, 25);
}

@media (max-width:600px) {
    .container{
        padding: 5px;
    }    
}